<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>Create New Product</mat-card-title>
    <mat-card-subtitle>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
      </nav>
    </mat-card-subtitle>
  </mat-card-header>

  <div class="body p-4">
    <div class="container">
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
        <mat-accordion multi>
          <!-- Basic Details -->
          <mat-expansion-panel [expanded]="true" [formGroup]="basic">
            <mat-expansion-panel-header>
              <mat-panel-title>Basic Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="grid3 mt-2 ">
              <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput formControlName="productName" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>SKU</mat-label>
                <input matInput formControlName="sku" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Brand</mat-label>
                <input matInput formControlName="brand" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="onCategoryChange($event.value)">
                  <mat-option *ngFor="let cat of categoryList" [value]="cat">{{ cat }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Subcategory</mat-label>
                <input matInput formControlName="subcategory" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tags</mat-label>
                <input matInput formControlName="tags" />
              </mat-form-field>
            </div>
            <div class="grid2 ">
              <mat-form-field appearance="outline">
                <mat-label>Meta Title</mat-label>
                <input matInput formControlName="brand" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Meta Desc</mat-label>
                <input matInput formControlName="brand" />
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea name="" id="" matInput formControlName="fullDescription"></textarea>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="w-full"> -->
            <!-- <mat-label>Upload Image</mat-label> -->
            <input type="file" accept="image/*" (change)="onFileSelected($event)" />
            <!-- </mat-form-field> -->

            <div class="image-preview mt-3" *ngIf="previewUrl; else noImage">
              <img [src]="previewUrl" alt="Preview" class="preview-img" />
              <p class="mt-2 text-sm text-gray-600">Name: {{ selectedFile?.name }} | Size: {{ selectedFileSize }}</p>
            </div>
            <ng-template #noImage>
              <div class="placeholder">No image selected</div>
            </ng-template>
            <div *ngIf="validationError" class="text-red-500 mt-2">
              {{ validationError }}
            </div>
          </mat-expansion-panel>


          <!-- Specifications -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Specifications</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="grid mt-2" [formGroup]="specifications">
              <div *ngFor="let spec of specFields">
                <mat-form-field appearance="outline" *ngIf="spec.label !='Slot'">
                  <mat-label>{{ spec.label }}</mat-label>
                  <input matInput [formControlName]="spec.controlName" />
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="spec.label =='Slot'">
                  <mat-label>{{ spec.label }}</mat-label>
                  <textarea matInput [formControlName]="spec.controlName"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- Submit -->
        <div class="actions mt-4 text-end float-end">
          <button mat-raised-button color="primary" type="submit">
            Create Product
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>