<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>Create New Product</mat-card-title>
    <mat-card-subtitle>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
      </nav>
    </mat-card-subtitle>
  </mat-card-header>

  <div class="body p-4">
    <div class="container">
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
        <mat-accordion multi>
          <!-- Basic Details -->
          <mat-expansion-panel [expanded]="true" [formGroup]="basic">
            <mat-expansion-panel-header>
              <mat-panel-title>Basic Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="grid3 mt-2 ">
              <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput formControlName="productName" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>SKU</mat-label>
                <input matInput formControlName="sku" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Brand</mat-label>
                <input matInput formControlName="brand" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="onCategoryChange($event.value)">
                  <mat-option *ngFor="let cat of categoryList" [value]="cat">{{ cat }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Subcategory</mat-label>
                <input matInput formControlName="subcategory" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tags</mat-label>
                <input matInput formControlName="tags" />
              </mat-form-field>
            </div>
            <div class="grid2 ">
              <mat-form-field appearance="outline">
                <mat-label>Meta Title</mat-label>
                <input matInput formControlName="brand" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Meta Desc</mat-label>
                <input matInput formControlName="brand" />
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea name="" id="" matInput formControlName="fullDescription"></textarea>
            </mat-form-field>

          </mat-expansion-panel>

          <!-- Pricing -->
          <mat-expansion-panel [expanded]="true"  [formGroup]="pricing">
            <mat-expansion-panel-header>
              <mat-panel-title>Pricing</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="grid4 mt-2">
              <mat-form-field appearance="outline">
                <mat-label>Base Price</mat-label>
                <input matInput type="number" formControlName="mrp" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Discount %</mat-label>
                <input matInput type="number" formControlName="discount" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Selling Price</mat-label>
                <input matInput type="number" formControlName="sellingPrice" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="number" formControlName="stock" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Low Stock Alert</mat-label>
                <input matInput type="number" formControlName="lowStockAlert" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Shipping Charges</mat-label>
                <input matInput type="number" formControlName="shippingCharges" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Return Window (days)</mat-label>
                <input matInput type="number" formControlName="returnWindow" />
              </mat-form-field>
            </div>
            <div class="four">
              <mat-checkbox formControlName="freeShipping" class="inline-checkbox -mt-3">Free Shipping</mat-checkbox>
              <mat-checkbox formControlName="returnable" class="inline-checkbox -mt-3">Returnable</mat-checkbox>
              <mat-checkbox formControlName="freeShipping" class="inline-checkbox -mt-3">Is Active</mat-checkbox>
              <!-- <mat-checkbox formControlName="returnable" class="inline-checkbox -mt-3">Returnable</mat-checkbox> -->
            </div>
          </mat-expansion-panel>

          <!-- Specifications -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Specifications</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="grid mt-2" [formGroup]="specifications">
              <div *ngFor="let spec of specFields">
                <mat-form-field appearance="outline" *ngIf="spec.label !='Slot'">
                  <mat-label>{{ spec.label }}</mat-label>
                  <input matInput [formControlName]="spec.controlName" />
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="spec.label =='Slot'">
                  <mat-label>{{ spec.label }}</mat-label>
                  <textarea matInput [formControlName]="spec.controlName"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- Submit -->
        <div class="actions mt-4 text-end float-end">
          <button mat-raised-button color="primary" type="submit">
            Create Product
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>