.example-container {
  height: 400px;
  overflow: auto;
}

.form-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 0px;
  column-gap: 18px;
  // margin-bottom: 4px;
}

::ng-deep .mat-header-cell {
  padding: 12px 16px;
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  text-align: left;
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
}

::ng-deep .header-content {
  display: flex;
  justify-content: end;
  align-items: center;
}

::ng-deep .header-label {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .mat-icon-button {
  width: 30px;
  height: 30px;
  padding: 4px;
}

::ng-deep .mat-icon {
  font-size: 20px;
  color: #555;
}

table {
  th {
    // background-color: rgb(221, 221, 221);
    // border: 1px solid silver;
  }

  td {
    // border: 1px solid silver;
  }

}

.example-container {
  height: 550px;
  overflow: auto;
}


.highlight {
  background-color: #fff8e1 !important;
  /* light yellow */
}

.editable-cell ,input {
  overflow: auto;
  // width: 100rem;
  width: 80%;

  // width: 100%;
  // padding: 4px;
  border: 1px solid #ccc;
  // border-radius: 4px;
}

mat-form-field {
  width: 100%;
  color: seashell;
  border: #ffffff;
  opacity: .8;
  border-radius: 25px !important;
}

mat-label {
  color: black;
  opacity: .5;
}

::ng-deep .filter-bar .mat-button-toggle-checked[value="in stock"] {
  background-color: #4caf50 !important;
  /* Green */
  color: white;
}

::ng-deep .filter-bar .mat-button-toggle-checked[value="out of stock"] {
  background-color: #f44336 !important;
  /* Red */
  color: white;
}

::ng-deep .filter-bar .mat-button-toggle-checked[value="not_updated"] {
  background-color: #ff9800 !important;
  /* Orange */
  color: white;
}


.badge {
  display: inline-block;
  min-width: 90px;
  text-align: center;
  font-weight: 600;
  // padding: 5px 10px;
}

.badge-success {
  width: 100%;
  max-width: 50%;
  text-align: center;
  font-size: smaller;
  background-color: #d4edda;
  color: #155724;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
}

.badge-danger {
  width: 100%;
  max-width: 50%;
  text-align: center;
  font-size: smaller;
  background-color: #f8d7da;
  color: #721c24;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: capitalize;
}

.badge-secondary {
  width: 100%;
  max-width: 50%;
  text-align: center;
  font-size: smaller;
  background-color: #e2e3e5;
  color: #6c757d;
  padding: 7px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
}
mat-menu{
  h6{
    mat-menu-item{
      background-color: #155724;
      font-size: smaller;
      margin: 0;
      padding: 0;
    }
  }
}