<!-- <mat-toolbar class="navbar">
  <p class="navbar-title">TECH VEGAS</p>
  <div class="navbar-links">
  </div>
  <div class="user-cart">
    <a href="#profile" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </a>
    <button  mat-icon-button>
    <a href="#cart" mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </button>
  </div>
</mat-toolbar> -->

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item href="javascript:void(0)" (click)="toggleCategoryMenu()">
        <i class="fa-solid fa-user-group"></i> Category
        <mat-icon class="float-end menu-button" [ngClass]="{'rotated': showCategoryMenu}">expand_more</mat-icon>
      </a>
      <div class="submenu" [ngClass]="{'show': showCategoryMenu}">
        <a *ngFor="let item of catg" mat-list-item class="submenuitem" (click)="seletecedCatg(item)">
          {{ item }}
        </a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="javascript:void(0)" (click)="toggleFilterMenu()">
        <i class="fa-filter fa-solid"></i> Filter
        <mat-icon class="float-end menu-button" [ngClass]="{'rotated': showFilterMenu}">expand_more</mat-icon>
      </a>
      <div class="mb-2 pb-2 submenu" [ngClass]="{'show': showFilterMenu}">
        <a mat-list-item href="javascript:void(0)" (click)="togglePriceMenu()">
          <i class="m-2 fa-money-bill-1-wave fa-solid"></i> Price
          <mat-icon class="float-end menu-button" [ngClass]="{'rotated': showPriceMenu}">expand_more</mat-icon>
        </a>
        <div class="m-2 p-2 submenu" [ngClass]="{'show': showPriceMenu}">
          <div style="display: flex;flex-wrap: nowrap;">
            <select class="form-control p-2 mb-3">
              <option selected *ngFor="let item of priceRange">{{item}} </option>
            </select>
            <p style="color: rgb(17, 16, 16);" class="m-2">To</p>
            <select class="form-control p-2 mb-3">
              <option selected *ngFor="let item of priceRange">{{item}} </option>
            </select>
          </div>
        </div>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <!--  -->
  </mat-sidenav-content>
</mat-sidenav-container>