/* General reset and layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
  background-color: #1f2a44; /* Dark background for the navbar */
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-links a:hover {
  color: #ff5722; /* Highlight links on hover */
}

.user-cart a {
  color: white;
  margin-left: 1rem;
}

.user-cart mat-icon {
  font-size: 1.5rem;
}

/* Sidenav container */
.example-container {
  // display: flex;
  height: 100vh;
  z-index: 99999 !important;
}

mat-sidenav {
  background-color: #ffffff;
  color: white;
  width: 250px;
  padding: 1rem;
}
// submenu
/* Submenu container */
.submenu {
  padding-left: 1.5rem;
  display: none; /* Initially hidden */
  background-color: #ffffff; /* Darker background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  transition: all 0.3s ease;
}

/* Display submenu when toggled */
.submenu.show {
  display: block;
}

/* Styling for submenu items */
.submenuitem {
  color: #ecf0f1; /* Light text */
  padding: 12px 20px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
  border-radius: 4px;
  text-transform: capitalize;
}

/* Hover effect for submenu items */
.submenuitem:hover {
  background-color: #3498db; /* Blue background on hover */
  color: white; /* White text color */
  padding-left: 30px; /* Add a subtle slide effect on hover */
  cursor: pointer;
}

/* Active state for submenu item */
.submenuitem.active {
  background-color: #2980b9;
  color: white;
  font-weight: bold;
  box-shadow: inset 3px 0px 0px #ff5722; /* Thin underline effect */
}

/* Submenu toggle button styling */
.menu-button {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Rotate icon when submenu is expanded */
.rotated {
  transform: rotate(180deg);
}

/* Submenu items when toggled */
.submenuitem:focus, .submenuitem:active {
  background-color: #2980b9; /* Active state for accessibility */
  color: white;
  box-shadow: inset 3px 0px 0px #ff5722;
}


/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }

  .user-cart {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .example-container {
    flex-direction: column;
  }

  mat-sidenav {
    width: 100%;
  }

  .submenu {
    padding-left: 2rem;
  }
}
