.simple-snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}

.msg {
  font-size: 14px;
  font-weight: 500;
}

// .action {
//   color: #64b5f6 !important;
//   font-weight: 600;
//   font-size: 14px;
// }
