

  <!-- Customer Layout -->
  <ng-container *ngIf="admin; else adminSidebar" >
    <mat-sidenav-container class="sidenav-container overflow-hidden" >
      <mat-sidenav #sidenav mode="side" position="start" [opened]="isSidenavOpen">
        <mat-nav-list class="amazon-sidebar">

          <!-- Discount Filter -->
          <div class="filter-section">
            <h4>Discount</h4>
            <label *ngFor="let discount of discountOptions">
              <input type="checkbox" (change)="toggleDiscount(discount)" />
              {{ discount }}% or more
            </label>
          </div>

          <!-- Price Filter -->
          <div class="filter-section">
            <h4>Price</h4>
            <label *ngFor="let range of priceOptions; let i = index">
              <input type="checkbox" (change)="togglePrice(range)" />
              {{ getPriceLabel(i) }}
            </label>
          </div>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>

  <!-- Admin Layout -->
  <ng-template #adminSidebar>
    <mat-sidenav-container class="sidenav-containerAdmin overflow-hidden">
      <mat-sidenav #sidenav mode="side" position="start" [opened]="isSidenavOpen">
        <mat-nav-list>

          <!-- Dynamic Admin Menu -->
          <ng-container *ngFor="let menu of adminMenus">
            <div class="menu-item" (click)="toggleSubmenu(menu.key)">
              <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
              <span class="menu-text">{{ menu.label }}</span>
              <mat-icon class="arrow-icon">
                {{ activeSubmenu === menu.key ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            </div>
            <div *ngIf="activeSubmenu === menu.key" class="submenu">
              <a mat-list-item *ngFor="let item of menu.items" [routerLink]="item.link">
                {{ item.label }}
              </a>
            </div>
          </ng-container>

        </mat-nav-list>
      </mat-sidenav>
            <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>



