/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
// @import "assets/css/pacman.css";
// @import "assets/css/timer.css";
@import "assets/css/line-scale-party.css";

mat-label {
  color: rgb(1, 44, 165);
}


.mat-mdc-floating-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  transform: translateY(-8px) scale(0.9);
  /* Slight lift */
  margin-top: -30px !important;
  margin-bottom: 3.5px !important;
}


/* Tweak spacing for input-only (not textarea) fields */
.mat-mdc-text-field-wrapper:not(:has(textarea)) {
  height: 50px !important;
  // border-radius: 55px;
}

.mat-mdc-form-field-flex:not(:has(textarea)) {
  margin-top: -6px !important;
}

/* Extra label spacing for better separation */
label.mat-label {
  // margin-bottom: 0.25rem;
  display: inline-block;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}
