<div class="body" *ngIf="admin ==true ">
  <ng-container>
    <mat-toolbar>
      <mat-icon class="mr-3 -mt-2 fs-2 animate__flip" (click)="toggleSidenav()">menu</mat-icon>
      <span class="logo cursor-pointer" routerLink="/">Smart Store</span>

      <div class="toolbar-center">
        <input type="text" matInput placeholder="Search for a product, category or brand" (input)="onSearch($event)"
          class="search-input form-control" />
        <button mat-flat-button color="warn" class="search-btn" (click)="Searchbtn()">
          SEARCH
        </button>
      </div>
      <div class="toolbar-right">
        <mat-icon routerLink="/newcart" matTooltip="Cart">shopping_cart</mat-icon>
        <span class="cart-count" *ngIf="cartCount > 0" [ngClass]="{
              'count-small': cartCount < 10,
              'count-medium': cartCount >= 10 && cartCount < 100,
              'count-large': cartCount >= 100
            }">
          {{ cartCount }}
        </span>
        <span class="top-links">
          <a routerLink="/auth/signup">Signup</a> | <a routerLink="/auth">Login</a>
        </span>
      </div>
    </mat-toolbar>


    <div class="nav-bar" *ngIf="!secondnavbar">
      <h5 routerLink="/address">
        <i class="fa-solid fa-location-crosshairs" style="color: #ffffff"></i>
      </h5>
      <mat-toolbar class="nav-bar" style="justify-content: center; align-items: center">
        <a mat-button>Electronics</a>
        <a mat-button>Men</a>
        <a mat-button>Women</a>
        <a mat-button>Baby & Kids</a>
        <a mat-button>Books & Media</a>
        <a mat-button>Home & Kitchen</a>
        <a mat-button>More Stores</a>
        <a mat-button class="offers">Offers Zone</a>
      </mat-toolbar>
    </div>
  </ng-container>

</div>
<div class="body" *ngIf="admin ==false">
  <ng-container>
    <mat-toolbar class="admintoolbar">
      <div class="toolbar-left">
        <mat-icon class="mr-3  fs-2 animate__flip" (click)="toggleSidenav()">menu</mat-icon>
        <span class="logo cursor-pointer" routerLink="/">Smart Store</span>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </ng-container>
</div>
